.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#squares {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
}

.square {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.unselected {
  background-color: black;
  transition: 0.5s;
}

.selected {
  background-color: aliceblue;
  transition: 0.5s;
}

.unselected:hover {
  background-color: darkgrey;
  transition: 0.5s;
}